<div class="banner">
  <div class="content">
      <h1 class="mb-5">Come take a ride with us</h1>
      <!-- <a routerLink="menu" href="#book-section">BOOK NOW <i class="bi bi-arrow-right"></i></a> --> -->
	  <a class="nav-link" href="#book-section">Book <i class="bi bi-arrow-right"></i></a>
  </div>
  
</div>
	<!-- section book cab-->
	<section class="bookcab " id="book-section">
		
		<div class="container container-shadow">
			<div class="row">
				<div class="col-md-5 padding70 bg-white">
					<div class="short-intro">
						<h4 class="bookcab-heading"> book <small> a cab</small>
						<br> 
						</h4>
						<p>The perfect way to get through your everyday travel needs. City taxis are available 24/7 and you can book and travel in an instant. With rides starting from as low as Rs. 6/km, you can choose from a wide range of options! You can also opt to do your bit for the environment! </p>
					<blockquote class="custom-blockquote"><i class="bb"> Get the best ride with us </i> </blockquote>
					<ul class="list">
						<li>Super & reliable services</li>
						<li>24 X 7 customer support provide</li>
						<li> Large Range of Car Models</li>
						<li>GPS Tracking and help</li>
						<li> Powerful Security Offer</li>
					</ul>
					<!-- <div class="buttons">
						<button type="button" class="btn btn-warning btn-cus">CONTACT US</button> <button type="button" class="btn btn-light btn-cus">ABOUT US</button>
					</div> -->
				</div>
			</div>
			
			<div class="col-md-7 padding70 bg-yellow">
				<form>
					<div class="row">
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<!-- <div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle btn-default bs-placeholder btn-default-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Select Vehicle
									</button>
								</div> -->
								<label for="cars">Choose a Vehicle:</label>
                                <select name="cars" id="cars">
                                <option value="volvo">Swift Dzire</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                                </select>
                                <br><br>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<!-- <div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle btn-default bs-placeholder btn-default-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Passengers
									</button>
									
								</div> -->
								<label for="passengers">No of Passengers:</label>
                                <select name="passengers" id="passengers">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
								<option value="5">5</option>
								<option value="4">6</option>
                                </select>
                                <br><br>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<input id="location" type="text" placeholder="Pickup location" required>
								<!-- <input id="phone" type="phone number" placeholder="Your Phone Number" > -->
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<!-- <input type="text" name="" class="form-input " placeholder="Date and Time"> -->
								<input id="datet" type="date" placeholder="Date of Travel" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<!-- <input type="text" name="" class="form-input " placeholder="Date and Time"> -->
								<input id="etime" type="time" placeholder="Time" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<!-- <input type="text" name="" class="form-input " placeholder="Drop of Location"> -->
								<input id="dlocation" type="text" placeholder="Drop location" required>
							</div>
						</div>
						<!-- <div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle btn-default bs-placeholder btn-default-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Type of Trip
									</button>
								
								</div>
							</div>
						</div> -->
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<input id="email" type="email" placeholder="Email">
							</div>
						</div>
						
					</div>
					<div class="col-sm-12 ">
						<div class="buttons">
							<button type="submit" class="btn btn-light btn-cus">SUBMIT FORM</button>
							<button type="button" class="btn btn-light btn-cus">RESEST </button>
						</div>
					</div>
					
					
				</form>
				
				
			</div>
		</div>
	</div>
</section>