.banner
{
    background-image: url('../../../assets/img/bannerimg.jpg');
    height: 600px;
    background-position: center top;
    background-size: cover;
}
.banner h1
{
    color:#f9f7fc;
    font-size: 35px;
    font-weight: bold;
    top: 30%;
    left: 20%;
    font-style: normal;
    text-align: center;

}