<div class="banner">
  <div class="content">
      <h1 class="mb-5">Come take a ride with us</h1>
      <a routerLink="menu">BOOK NOW <i class="bi bi-arrow-right"></i></a>
  </div>
  
</div>
	<!-- section book cab-->
	<section class="bookcab " id="book-section">
		
		<div class="container container-shadow">
			<div class="row">
				<div class="col-md-5 padding70 bg-white">
					<div class="short-intro">
						<h4 class="bookcab-heading"> book <small> a cab</small>
						<br> <span>GO DRIVE</span>
						</h4>
						<p>The perfect way to get through your everyday travel needs. City taxis are available 24/7 and you can book and travel in an instant. With rides starting from as low as Rs. 6/km, you can choose from a wide range of options! You can also opt to do your bit for the environment! </p>
					<blockquote class="custom-blockquote"><i class="bb"> Contrary to popular belief, Lorem Ipsum literature from 45 BC, making it </i> </blockquote>
					<ul class="list">
						<li>Super & reliable services</li>
						<li>24 X 7 customer support provide</li>
						<li> Large Range of Car Models</li>
						<li>GPS Tracking and help</li>
						<li> Powerful Security Offer</li>
					</ul>
					<div class="buttons">
						<button type="button" class="btn btn-warning btn-cus">CONTACT US</button> <button type="button" class="btn btn-light btn-cus">ABOUT US</button>
					</div>
				</div>
			</div>
			
			<div class="col-md-7 padding70 bg-yellow">
				<form>
					<div class="row">
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle btn-default bs-placeholder btn-default-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Select Vehicle
									</button>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle btn-default bs-placeholder btn-default-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Passengers
									</button>
									
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<input type="text" name="" class="form-input" placeholder="Pickup location">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<input type="text" name="" class="form-input " placeholder="Date and Time">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<input type="text" name="" class="form-input " placeholder="Drop of Location">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<div class="btn-group" role="group">
									<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle btn-default bs-placeholder btn-default-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Type of Trip
									</button>
								
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="btn-group bootstrap-select input-group-btn form-control dropup">
								<input type="email" name="" class="form-input " placeholder="Email">
							</div>
						</div>
						
					</div>
					<div class="col-sm-12 ">
						<div class="buttons">
							<button type="button" class="btn btn-light btn-cus">SUBMIT FORM</button>
							<button type="button" class="btn btn-light btn-cus">RESEST </button>
						</div>
					</div>
					
					
				</form>
				
				
			</div>
		</div>
	</div>
</section>