.banner
{
    background-image: url('../../../assets/img/bannerimg.jpg');
    height: 600px;
    background-position: center top;
    background-size: cover;
}
.banner h1
{
    color:#f9f7fc;
    font-size: 35px;
    font-weight: bold;
    top: 30%;
    left: 20%;
    font-style: normal;
    text-align: center;

}
.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  
}
.content a 
{
    text-decoration: none;
    background-color: rgb(122, 243, 132);
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: rgb(250, 248, 248);
}
.bg-yellow{
    background: #008b8b;
}
.padding70{
    padding: 70px;
}

div{
    display: block;
    font-family: sans-serif,'roboto';
    
}
.bookcab {
    background-color: #f5f5f5;
    /* background-image: url(assets/theme/img/texture.png); */
    overflow: hidden;
    padding: 100px 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.container-shadow {
    background: #fff;
    box-shadow: 0 15px 25px rgb(0 0 0 / 25%);
    margin: auto!important;
    z-index: 9;
    position: relative;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.padding70 {
    padding: 70px;
}
.bg-white {
    background: #fff;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    width: 100%;
}
.bookcab-heading {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
    color: #141414;
    line-height: 28px;
    position: relative;
    font-family: roboto !important;
    letter-spacing: 2px;
}
.short-intro small {
    font-size: 45px;
    font-weight: 300;
    color: #999999;
}
.short-intro span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #848282;
    font-family: 'Raleway', sans-serif;
}
.short-intro p {
    font-size: 13px;
    color: #444343;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
.custom-blockquote {
    padding-right: 0;
    font-size: 13px;
    font-family: Raleway;
    letter-spacing: 1px;
    border-left: 3px solid #fede03;
    color: #333;
    font-weight: 800;
    margin: 38px 0;
    padding: 10px 20px;
}
i {
    font-style: italic;
}
ul.list {
    padding-left: 16px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul.list li {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    font-family: Raleway;
    letter-spacing: 1px;
    padding: 7px 20px;
}
.buttons {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}
.btn-cus {
    font-size: 14px !important;
    color: #403b3b!important;
    font-weight: 500!important;
    padding: 9px!important;
    margin-right: 10px;
    box-shadow: 0px 1px 2px 0px grey;
    border-radius: 0px;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.padding70 {
    padding: 70px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .form-control {
    border-radius: 0;
    background: #fff;
    height: 60px;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 10px 22px;
    outline: none!important;
    border: none;
    box-shadow: none!important;
    margin-bottom: 25px;
  }
  .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}