.banner
{
    background-image: url('../../../assets/img/bannerimg.jpg');
    height: 600px;
    background-position: center top;
    background-size: cover;
}
.banner h1
{
    color:#f9f7fc;
    font-size: 35px;
    font-weight: bold;
    top: 30%;
    left: 20%;
    font-style: normal;
    text-align: center;

}
.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  
}
.content a 
{
    text-decoration: none;
    background-color: rgb(122, 243, 132);
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: rgb(250, 248, 248);
}
.bg-yellow{
    background:  rgb(122, 243, 132);
}
.padding70{
    padding: 70px;
}
*,{
    box-sizing:border-box;
}
div{
    display: block;
    font-family: sans-serif,'roboto';
    
}
.col-md-7,.col-sm-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}